* {
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

body {
  margin: 0;
  background: #f8fafc;
}

.login-container {
  display: flex;
  height: 100vh;
}

/* LEFT SIDE */
.login-left {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-left h1 {
  font-size: 56px;
  font-weight: 700;
  color: #0f172a;
  line-height: 1.2;
}

/* RIGHT SIDE */
.login-right {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* CARD */
.login-card {
  width: 380px;
  background: white;
  padding: 35px;
  border-radius: 14px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.08);
}

.login-card h2 {
  margin-bottom: 25px;
  font-size: 26px;
  color: #0f172a;
}

/* FORM */
.login-card form {
  display: flex;
  flex-direction: column;
}

.login-card label {
  font-size: 14px;
  margin-bottom: 6px;
  color: #334155;
}

.login-card input {
  padding: 12px;
  border-radius: 8px;
  border: 1px solid #cbd5e1;
  margin-bottom: 18px;
  font-size: 14px;
}

.login-card input:focus {
  outline: none;
  border-color: #3b82f6;
}

/* FORGOT */
.forgot {
  font-size: 13px;
  color: #2563eb;
  margin-bottom: 20px;
  cursor: pointer;
}

/* BUTTON */
.login-card button {
  padding: 12px;
  border-radius: 10px;
  border: none;
  background: linear-gradient(90deg, #3b82f6, #2563eb);
  color: white;
  font-size: 16px;
  cursor: pointer;
  margin-bottom: 20px;
}

.login-card button:hover {
  opacity: 0.95;
}

/* SIGNUP */
.signup {
  text-align: center;
  font-size: 14px;
  color: #475569;
}

.signup span {
  color: #2563eb;
  cursor: pointer;
}
