.login-container{
  max-width: 400px;
  max-height: 800px;
  margin: 100px auto;
  padding: 30px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  text-align: center;
  font-family: Arial, sans-serif;
}